@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.example::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  padding: 0;
  margin: 0;
  background-color: #f5f8f9;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth !important;
}

.arrow{
  border-radius: 50%;
background: #2a2c30;
box-shadow:  6px 6px 20px #ffffff,
             -20px -20px 60px #303337;
}

.custom-box-with-shadow {
  /* box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;; */
             padding: 1rem;
             border-radius: 10px;
background: #e0e0e0;
}
.nav-button {
  width: 40px;
  height: 40px;
  background-color: #3b3b3b;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.nav-button:hover {
  box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.6), -7px -7px 17px rgba(255, 255, 255, 0.2);
}

.image-button {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #41474E;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/* Button hover effect */
.image-button:hover {
  box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.6), -7px -7px 17px rgba(255, 255, 255, 0.2);
}

/* Custom class for SweetAlert2 popup */
.responsive-swal-popup {
  width: 90% !important;
  max-width: 500px;
}

@media (min-width: 768px) {
  .responsive-swal-popup {
    width: 60% !important;
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .responsive-swal-popup {
    width: 40% !important;
    max-width: 300px;
  }
}
